/* ----------------- MEDIUM SCREENS ---------------- */
@media only screen and (max-width: 1050px) {
  section.about-section {
    display: block;
  }
  section.about-section .photo {
    max-width: 550px;
    min-width: unset;
    margin: 0 auto;
  }
  section.about-section .accolades ul {
    margin: unset;
  }
  section.image-deck-section .image-deck .main-image .image-wrapper,
section.image-deck-section .image-deck .main-image .image-wrapper .front,
section.image-deck-section .image-deck .main-image .image-wrapper .behind {
    min-height: 50vh;
  }
  section.image-deck-section .image-deck .thumbnails .thumbnail-item {
    width: 200px;
    min-width: 200px;
  }
  section.image-deck-section .image-deck .thumbnails .thumbnail-item img {
    height: 125px;
  }
  section.hero-section .background-image {
    background-size: 220% 105%;
    -webkit-animation: none;
            animation: none;
  }
  @-webkit-keyframes zoom-out {
    0% {
      background-size: 220% 105%;
    }
    40% {
      background-size: 200% 100%;
    }
    100% {
      background-size: 220% 105%;
    }
  }
  @keyframes zoom-out {
    0% {
      background-size: 220% 105%;
    }
    40% {
      background-size: 200% 100%;
    }
    100% {
      background-size: 220% 105%;
    }
  }
  section.hero-section .header .brand {
    font-size: 18px;
  }
  section.hero-section .header .brand img {
    width: 30px;
    height: 30px;
    top: 9px;
    left: 6px;
  }
  /* GEAR SECTION */
  section.gear-section {
    overflow-x: hidden;
    background-color: var(--secondary-background);
    color: var(--secondary-text);
    height: 100%;
    max-height: unset;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 100px auto;
  }
  section.gear-section .quote-col {
    grid-column: 1/4;
    grid-row: 1;
    line-height: 1.6em;
    background: var(--tertiary-background);
  }
  section.gear-section .quote-col .quote {
    font-size: var(--fs-2);
    padding: 40px;
    min-height: 60%;
  }
  section.gear-section .quote-col .quote .author {
    margin-top: 20px;
    font-size: var(--fs-3);
  }
  section.gear-section .quote-image {
    grid-column: 1/1;
    grid-row: 2/2;
  }
  section.gear-section .image-col {
    grid-column: 2/2;
    grid-row: 2/2;
    position: relative;
  }
  section.gear-section .vertical-text {
    grid-column: 1/3;
    grid-row: 3/3;
    background-color: var(--primary-background);
    width: 100%;
    line-height: 100px;
    padding: 0 40px;
    position: unset;
    -ms-writing-mode: unset;
        writing-mode: unset;
    transform: rotate(0deg);
    text-transform: uppercase;
  }
  section.gear-section .vertical-text .expand {
    display: inline;
    float: right;
    cursor: pointer;
    transition: transform 0.3s;
    transform: rotate(90deg);
  }
  section.gear-section .vertical-text .expand:hover {
    transform: rotate(90deg) translateX(5px);
  }
  section.gear-section .vertical-text .expand.clicked {
    transform: rotate(0);
  }
  section.gear-section .vertical-text .expand.clicked:hover {
    transform: rotate(0deg) translateX(5px);
  }
  section.gear-section .gear-col {
    background-color: #fbfbfb;
    grid-column: 1/3;
    grid-row: 4/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    max-height: 100%;
    transition: max-height 1s;
    overflow-y: auto;
  }
  section.gear-section .gear-col .gear-item {
    position: relative;
    margin: 20px;
    display: block;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 3px #ccc;
    height: unset;
    max-height: 300px;
    cursor: pointer;
  }
  section.gear-section .gear-col .gear-item .gear-details {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 4fr auto;
    padding: unset;
    padding-top: 20px;
  }
  section.gear-section .gear-col .gear-item .gear-details .gear-image {
    padding: 10px;
    align-self: center;
    grid-column: 1;
    grid-row: 2/2;
    height: 100%;
    width: 100%;
    max-height: 150px;
    margin: 0 auto;
  }
  section.gear-section .gear-col .gear-item .gear-details .gear-image img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  section.gear-section .gear-col .gear-item .gear-details .gear-text {
    grid-row: 1/1;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--tertiary-background);
  }
  section.gear-section .gear-col .gear-item .gear-details .gear-text .gear-price {
    text-align: right;
    margin: unset;
  }
  section.gear-section .gear-col .gear-item .gear-details .gear-shopping {
    grid-column: 1;
    grid-row: 3/3;
  }
  section.gear-section .gear-col .gear-item .gear-details .gear-shopping .ratings-and-details {
    margin: 0 auto;
    width: 90%;
  }
  section.gear-section .gear-col .gear-item .gear-details .gear-shopping .add-button {
    width: 90%;
    margin: 10px auto;
    text-align: right;
  }
  section.gear-section .gear-col .gear-item .gear-details .gear-shopping .add-button button {
    margin: 0 auto;
    width: 50%;
  }
  section.gear-section .gear-col .gear-item .gear-plus {
    position: relative;
    margin-top: 20px;
    font-size: var(--fs-4);
    width: 100%;
    height: 55px;
    background-color: var(--tertiary-background);
    transition: background-color 0.3s;
  }
  section.gear-section .gear-col .gear-item .gear-plus span.icon::before {
    width: 100%;
    top: 0;
  }
  section.gear-section .gear-col .gear-item .gear-plus.clicked::after {
    transition: transform 0.3s, opacity 0.3s;
    content: "-";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  section.gear-section .gear-col .gear-item.expand {
    min-height: 75%;
    max-height: 455px;
  }
  section.gear-section .gear-col.hidden {
    max-height: 0;
  }
  section.gear-section .gear-col::after {
    display: none;
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0px;
    height: 2em;
    width: 100%;
    background: var(--io-2);
  }
}
/* ----------------- SMALL SCREENS ---------------- */
@media only screen and (max-width: 768px) {
  section.hero-section .foreground {
    /* top: 50%;         */
  }
  section.hero-section .foreground .name {
    font-family: var(--font-heading);
    font-size: var(--fs-3);
    text-transform: uppercase;
  }
  section.hero-section .foreground .person-details {
    max-width: 90%;
    font-size: 0.8em;
  }
  section.hero-section .title {
    display: none;
    top: 70%;
    left: 40px;
    /* right: 40px; */
  }
  section.about-section {
    padding: 60px 20px;
  }
  section.about-section .accolades ul li {
    margin: 1.2em 0px;
    font-size: 16px;
  }
  section.about-section .accolades ul li span.icon {
    max-height: 20px;
    max-width: 20px;
  }
}
/* ----------------- TINY SCREENS ---------------- */
@media only screen and (max-width: 650px) and (orientation: portrait) {
  section.hero-section .background-image {
    background: url("~/../../img/hero/hungry-horse.webp");
    background-position: 80%;
    background-size: cover;
    filter: brightness(1.2);
  }
  section.hero-section .background-image img {
    visibility: hidden;
  }
}
@media only screen and (max-width: 650px) {
  section.hero-section .header {
    padding: 20px 20px;
  }
  section.hero-section .header .menu {
    display: none;
  }
}
@media only screen and (max-width: 650px) {
  section.hero-section .foreground {
    padding: 20px;
  }
}
@media only screen and (max-width: 650px) {
  section.about-section .photo {
    max-width: 400px;
  }
}
@media only screen and (max-width: 650px) {
  section.image-deck-section {
    min-height: unset;
  }
}
@media only screen and (max-width: 650px) {
  section.image-deck-section .image-deck .main-image {
    padding: 0 0px;
    min-height: unset;
  }
}
@media only screen and (max-width: 650px) {
  section.image-deck-section .image-deck .thumbnails {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 650px) {
  section.image-deck-section .image-deck .thumbnails .thumbnail-item {
    width: 125px;
    min-width: 125px;
    border-right: 1px solid black;
    margin: 2px;
  }
  section.image-deck-section .image-deck .thumbnails .thumbnail-item img {
    display: none;
  }
  section.image-deck-section .image-deck .thumbnails .thumbnail-item .title {
    font-size: 3vw;
  }
  section.image-deck-section .image-deck .thumbnails .thumbnail-item.active .title {
    color: orange;
  }
}
@media only screen and (max-width: 650px) {
  section.image-deck-section .image-deck .thumbnails::-webkit-scrollbar-button {
    width: 5px;
  }
}
@media only screen and (max-width: 650px) {
  section.cta-section .wording {
    padding: 6vw;
  }
}
@media only screen and (max-width: 650px) {
  section.gear-section .quote-col .quote {
    padding: 6vw;
  }
  section.gear-section .vertical-text {
    font-size: 4vw;
  }
  section.gear-section .gear-col {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 650px) {
  footer {
    overflow-x: hidden;
  }
  footer .other-links {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  footer .other-links h3 {
    margin-top: 0;
    margin-left: 20px;
  }
  footer .other-links a {
    border-width: 1px;
  }
}
@media only screen and (max-width: 650px) {
  footer .mountains {
    font-size: 5vw;
  }
}
@media only screen and (max-width: 650px) {
  footer .andcode {
    font-size: 4vw;
  }
}/*# sourceMappingURL=media-queries.css.map */