// @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto&family=Inter&family=Montserrat:wght@700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');


@font-face {
    font-family: "Archivo Black";
    src: url('../fonts/ArchivoBlack-Regular.woff') format("woff");
  }
  
  @font-face {
    font-family: "Inter";
    src: url('../fonts/Inter-Regular.woff') format("woff");
  }
  
  @font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Bold.woff') format("woff");
  }
  
  @font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Regular.woff') format("woff");
  }
  
  @font-face {
    font-family: "Whisper";
    src: url('../fonts/Whisper-Regular.woff') format("woff");
  }


* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}

html {
    background-color: var(--primary-background);
    color: var(--primary-text);
    overflow-y: scroll;
}

body {
    font-size: var(--fs-1);
    font-family: var(--font-body);
    
    transition: opacity 0.4s;
}
body.fade {            
    animation: fade-out-delay 4s ease-in-out;
}
@keyframes fade-out-delay {
    0% { opacity: 1; }
    5% { opacity: 0; }
    100% { opacity: 0; }    
}

/* Page fade in effect on load */
main {
    min-height: 150vh;
    animation: fade-in 0.8s ease-in-out;
    animation-fill-mode: forwards;
    transition: opacity 0.4s;
}
@keyframes fade-in {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

section { 
    position: relative;    
    height: 100%;    
    min-height: 50vh;    
}

a {
    all: unset;
    cursor: pointer;
}


section.hero-section {
    position: relative;
    height: 100vh;    

    .header {        
        position: absolute;
        z-index: 1;
        top: 0;
        height: 100px;
        width: 100%;   

        display: flex;
        flex-direction: row;
        align-items: center;

        font-family: var(--font-heading);
        font-size: var(--fs-4);
        padding: 20px 40px;   
        
        .brand {
            position:relative;
            // margin-left: 20px;
            font-size: 24px;

            img { 
                position: relative;
                top: 11px;
                left: 10px;                
                width: 40px; 
                height: 40px;                 
            }           
            span:nth-child(2) {                
                font-family: 'Montserrat', sans-serif;     
            }
            span:nth-child(3) {                
                margin-left: -8px;              
                font-family: 'Inter', sans-serif;     
            }
        }   
        
        .menu {            
            margin-top: 10px;
            font-size: 0.5em;
    
            ul {
                list-style: none;
                display: flex;
                flex-direction: row;
                gap: 10px;
    
                li {
                    // text-transform: uppercase;

                    a {
                        background: linear-gradient(to top, var(--accent-1), var(--accent-1) 50%, var(--primary-text) 50%);                        

                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-size: 100% 200%;
                        background-position: 100% 0%;

                        transition: background-position 0.3s;
                    }

                    a:hover {
                        background-position: 0% 100%;
                    }

                }
                li::after {
                    content: '/';
                    padding-left: 10px;
                }
                li:last-of-type::after {
                    content: '';
                }
            }
        }
    }

    .title {
        position: absolute;
        top: 25px;
        right: 60px;
        text-shadow: 1px 1px 4px #444;
        font-size: var(--fs-4);
        font-family: 'Montserrat', sans-serif;     
    }
  

    .foreground {
        position: absolute;
        top: 30%;
        left: 0;
        padding: 40px;

        .name {
            font-family: var(--font-heading);
            font-size: var(--fs-6);
            text-transform: uppercase;
        }

        .person-details {
            max-width: 60%;
            // margin-top: 20px;
            // gap: 10px;

            img {
                height: 1.4em;
                width: 1.4em;
                border-radius: 50%;
            }
        }
    }

    .background-image {        
        position: absolute;
        top: 0;
        left: 0;        
        height: 100%;

        // background: url('../img/hero/aetnas_summit_clean.png');  
        background: url('../img/hero/mountain-background1.webp');
        background-position: 50%;
        background-size: 110% 110%;
        animation: zoom-out 20s forwards;          
        
        img {            
            display: block;            
            height: 100%;
            width: 100%;
            object-fit: cover;            
        }
    }

    @keyframes zoom-out {
        0% { background-size: 110% 110%; }
        100% { background-size: 100% 100%; }        
    }



    .background-image:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height: 100%;        
        background: var(--io-1);
        // background: black;
    }
}


section.explain-this {
    min-height: unset;
    margin: 0 auto;
    padding: 10%;

    h1 {
        text-align: center;
        line-height: 1.6em;
        // text-transform: uppercase;
    }
}


section.about-section {
    background: var(--secondary-background);
    position: relative;
    height: 100%;
    min-height: unset;
    padding: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;    

    .photo {
        min-width: 40vw;
        // max-height:80vh;
        // height: 70vh;
        // width: 100%;        
        
        img { 
            // max-width: 500px;
            object-fit: cover;
        }
    }

    .accolades {        
        // min-width: 40%;        
        // border: 1px solid gray;
        align-self: start;
        ul {
            height: 100%;
            vertical-align: top;
            list-style: none;
            margin: 0 2em;

            li {                
                margin: 1.2em;               
                
                span.icon { 
                    // vertical-align: top;
                    // display: inline-block; 
                    min-height: 30px; 
                    min-width: 30px;                    
                    max-height: 30px; 
                    max-width: 30px;                    
                    // margin: 0px 5px;                    
                    margin-right: 10px;
                    // opacity: 0.5;
                }

                span.text {
                    // display: inline-block;
                    // max-width: 50%;
                    // padding: 5px;
                    line-height: 1.4em;
                    color: var(--secondary-text);

                    // span.sub-text {
                    //     font-size: 0.9em;
                    // }
                }
            }
        }
    }
}


section.image-deck-section {
    background-color: var(--secondary-background);

    .image-deck {        
        margin: 0 auto;
        // padding-left: 16px;
        // width: 95vw;
        // border: 1px solid gray;

        .main-image {   
            position: relative;         
            min-height: 400px;            
            padding: 0 40px;
            width: 100%;
            
            .image-wrapper {
                position: relative;
                z-index: 0;
                width: 100%;
                height: 100%;
                min-height: 90vh;   
                box-shadow: inset 0 0 10px #444;                             

                .front {
                    position: relative;
                    z-index: 0;
                    width: 100%;
                    height: 100%;
                    min-height: 90vh;                                
                    transition: opacity 0.75s;

                    background: url('../img/lifestyle/hl.webp');
                    // background: url('../img/lifestyle/bighorns-3.jpg');
                    background-size: cover;
                    background-position: 50%;
                    box-shadow: inset 0 0 10px #444;   
                    
                    // background-position: 50%;
                    // background-size: 110% 110%;
                    // animation: zoom-out 40s infinite;
                }

                .behind {
                    position: absolute;
                    top: 0;                                        
    
                    z-index: 0;
                    width: 100%;
                    height: 100%;
                    min-height: 90vh;                                
                    // height: 400px;
                    background: rgb(24, 158, 230);

                    opacity: 0;
                    // transition: opacity 0.75s;

                    background-size: cover;
                    // background-size: 110% 110%;
                    // animation: zoom-out 40s infinite;

                    background-position: 50%;
                    box-shadow: inset 0 0 10px #444;                             
                }
            }
            
        }

        .thumbnails {            
            overflow-x: scroll;
            width: 100%;
            padding: 0 40px;

            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;

            .thumbnail-item {                
                display: inline-block;                
                width: 300px;                
                min-width: 300px;
                
                border: 4px solid white;
                cursor: pointer;
                margin: 16px;
                margin-left: 0;

                img { 
                    height: 150px;
                    object-fit: cover;
                }

                .title {
                    margin-top: 10px;
                    font-family: var(--font-heading);
                    color: var(--secondary-text);
                }
            }    
            .thumbnail-item.active {
                img {
                    border: 4px solid var(--primary-accent);
                }
            }
            .thumbnail-item:last-of-type {                
                margin-right: 0;
            }            
        } 
        
        .thumbnails::-webkit-scrollbar {
            height: var(--fs-1);
        }

        .thumbnails::-webkit-scrollbar-button {
            width: 20px;
        }

        .thumbnails::-webkit-scrollbar-thumb {
            display: block;
            background: var(--primary-background);
            cursor: pointer;
        }

        .thumbnails::-webkit-scrollbar-track {            
            border-top: 2px solid var(--primary-background);
        }
    }
}


section.cta-section {
    background: var(--secondary-background);
    color:  var(--secondary-text);
    padding: 40px 0px;

    .wording {
        padding: 60px;
        margin: 0 auto;
        max-width: 800px;

        p {
            margin: 20px 0;
            line-height: 1.6em; 

            span.stand-out {
                font-family: var(--font-heading);
            }

            &.signature {                
                font-family: var(--font-cursive);
                font-size: 40px;
            }
        }

        a {
            // font-weight: 700;            
            // font-family: var(--font-heading);
            // color: rgb(36, 36, 36);
            border-bottom: 1px solid black;
        }
    }


}

section.gear-section {  
    overflow:hidden;  
    background-color: var(--secondary-background);
    color: var(--secondary-text);
    height: 100%;  
    max-height: 80vh;
    
    display: grid;
    grid-template-columns: 2fr 3fr 1.3fr;
    grid-template-rows: 1fr 1fr;
    
    
    .quote-col { 
        line-height: 1.6em;
        background: var(--tertiary-background);  
        
        .quote {
            font-size: var(--fs-2);  
            font-size: calc(1vw);          
            padding: 30px;
            // min-height: 60%;

            .author {
                margin-top: 20px;
                font-size: var(--fs-3);
            }
        }       
    }

    .quote-image {
        grid-column: 1/1;
        grid-row: 2/2;
    }

    .image-col { 
        grid-column: 2/2;
        grid-row: 1/3;

        position: relative;                
    }

    .vertical-text {
        grid-column: 2/2;

        font-family: var(--font-heading);
        font-size: var(--fs-3);
        color: var(--primary-text);
        position: absolute;
        top: 10px;            
        right: 10px;
        writing-mode: vertical-rl;            
        transform: rotate(180deg);
        text-transform: uppercase;

        .expand {
            display: none;
        }
    }

    .gear-col {
        grid-column: 3/3;
        grid-row: 1/3;
        min-width: 250px;

        // height: 300px;

        overflow-y: auto;

        .gear-item {
            display: flex;
            justify-content: space-between;
            min-height: 51%;
            margin-bottom: 5px;            

            cursor: pointer;

            transition: min-height 1s, max-height 1s;
            overflow:hidden;
        
            .gear-details {                   
                             
                padding: 14px;
                height: 100%;     
                
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .gear-text {                    
                    
                    .gear-price { 
                        margin-top: 10px;
                        font-size: 0.9em;
                    }                                   
                }

                .gear-shopping {   
                    // border-top: 1px solid var(--tertiary-background);
                    margin-top: 10px;
                    // padding: 10px;                 
                    max-height: 0; 
                    overflow:hidden;  /* Do we need this?  */
                    opacity: 1;                                         
                    transition: min-height 1s, max-height 1s, opacity 0.5s;  
                                        
                    .ratings-and-details {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        // border: 1px solid red;
                        
                        .reviews {
                            // margin-left: 5%;
                            // display: inline-block;
                            // width: 45%;
                            margin-top: 10px;
                            margin-bottom: 10px;

                            display: flex;
                            flex-direction: row;
                            align-items:center;
                            
                            .star {
                                width: 10px;
                                height: 10px;
                                margin-bottom: 2px;
                            }
                            .rating {
                                border-bottom: 1px solid black;
                                // text-decoration: underline;
                                margin-left: 5px;
                                font-size: 12px;
                            }
                        }
                        .link {
                            display: inline-block;
                            text-align: right;                        
                            font-size: 0.8em;
                            font-weight: 700;                            
                        }

                        a {           
                            position: relative;             
                            text-transform: uppercase;
                            font-size: 10px;
                            margin-right: 20px;                           
                            
                            .chevron {
                                position: absolute;
                                top: -2px;
                                right: -18px;
                                transition: right 0.2s;
                            }
                        }
                        a:hover {
                            .chevron {
                                right: -22px;                                
                            }
                        }
                    }

                    button {   
                        position: relative;                     
                        padding: 10px 20px;
                        margin-top: 10px;
                        text-transform: uppercase;
                        width: 100%;
                        height: 3.5em;
                        background-color: black;
                        border: 0;
                        color: white;
                        cursor:pointer;
                        overflow:hidden;

                        .text { 
                            font-weight: 700;
                            position: relative;
                            z-index: 1;
                        }
                    }
                    button:after {
                        content: '';
                        background-color: var(--accent-1);
                        position: absolute;
                        top: 0;
                        left: -10px;
                        width: 0%;
                        height: 110%;
                        transition: width 0.3s;
                        transform: skew(-15deg);                        
                    }

                    button:hover:after {
                        width: 120%;
                    }

                    .size {
                        position: relative;
                        width: 90%;
                        margin: 10px auto;

                        .select-wrap {
                            position: relative;                            

                            select {    
                                cursor: pointer;                            
                                padding: 10px 20px; 
                                width: 100%;
                                margin-bottom: 10px;
                                height: 3.0em;  
                                font-size: 0.9em;  
                                
                                // Troubleshooting Ipad
                                -webkit-appearance: none;
                                -moz-appearance: none;
                                appearance: none;
                                // padding: .5em;
                                background: #efefef;
                                border: none;
                                border-radius: 0px;
                                // padding: 1em 2em 1em 1em;
                                // font-size: 1em;

                                color: black;
                                background-color: white;
                                border: 1px solid black;
                            }
                        }
                        .select-wrap::after {
                            content: '\25BC';
                            position: absolute;
                            top: 17px;
                            right: 15px;
                            pointer-events:none;
                            // height: 6px;
                            // width: 6px;
                            font-size: 0.8em;
                            // width: 100%;
                            // height: 100%;
                            // color: red;
                            // transform: rotate(90deg);
                            // border: 1px solid purple;
                        }
                        
                    }
                }
                .gear-shopping.visible {
                    height: auto;
                    max-height: 180px; 
                    overflow:hidden;
                    opacity: 1;                   
                }    
            }
            
            .gear-plus {
                position: relative;
                font-size: var(--fs-4);
                display: grid;
                place-content: center;                
                min-width: 40px;                
                background-color: var(--tertiary-background);
                // transition: transform 0.3s, opacity 0.3s;
                transition: background-color 0.3s;
                cursor:pointer;

                // Remove default button styles
                appearance: none;
                border: none;

                span.icon::before {                    
                    transition: transform 0.3s, opacity 0.3s;
                    opacity: 1;

                    content: '+';
                    position: absolute;
                    z-index: 1;                    
                    width: 100%;
                    top: 42%;
                    left: 0;
                }

                &.clicked {
                    position: relative;                        
                    transition: transform 0.3s, opacity 0.3s;

                    span.icon::before { 
                        transition: transform 0.3s, opacity 0.3s;
                        transform: rotate(360deg);
                        opacity: 0;
                    }
                }
                &.clicked::after {
                    transition: transform 0.3s, opacity 0.3s;
                    content: '-';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    // border: 1px solid red;                    
                    top: 42%;                    
                }

                &:hover {                       
                    background: darken(#E8E8E8, 10%);
                }
            }
            // .gear-plus.clicked {
            //     color: red;
            // }
        }     
        
        .gear-item.expand {
            min-height: 75%;
        }
    }

    .gear-col::after {
        content: '';
        position: absolute;
        z-index: 0;
        bottom: 0px;
        height: 2em;
        width: 100%;
        background: var(--io-2);
    }
}


section.slideshow-section {
    // overflow-x:hidden;
    // margin: 60px auto;
    padding: 80px 0;

    background-color: var(--secondary-background);
    min-height: unset;

    // max-height: 600px;
}




/* 
    UTILITY CLASSES
*/

.hide {
    visibility: hidden;
}
.hide-but-read {    
    overflow:hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0, 0, 0, 0);
}

.flex-row {
    display: flex;
    flex-direction: row;    
}
.flex-row-between {
    display: flex;
    flex-direction: row;   
    justify-content: space-between 
}
.flex-col-between {
    display: flex;
    flex-direction: column;   
    justify-content: space-between 
}

.image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* INTERSECTION OBSERVER ANIMATION CLASSES */
.slide-up {
    transition: transform 2s, opacity 2s;
    transform: translateY(20px);
    opacity: 0;    
}
.slide-up.visible {
    transform: translateY(0px);
    opacity: 1;
}
.slide-down {
    transition: transform 2s, opacity 2s;
    transform: translateY(-20px);
    opacity: 0;    
}
.slide-down.visible {
    transform: translateY(0px);
    opacity: 1;
}
.slide-right {
    transition: transform 2s, opacity 2s;
    transform: translateX(20px);
    opacity: 0;    
}
.slide-right.visible {
    transform: translateX(0px);
    opacity: 1;
}
.slide-left {
    transition: transform 2s, opacity 2s;
    transform: translateX(-20px);
    opacity: 0;    
}
.slide-left.visible {
    transform: translateX(0px);
    opacity: 1;
}


.tr-d-1 {
    transition-delay: 0.5s;
}
.tr-d-2 {
    transition-delay: 0.75s;
}
.tr-d-3 {
    transition-delay: 1s;
}
.tr-d-4 {
    transition-delay: 1.25s;
}


/*
    FOOTER
*/

footer {
    // padding: 40px 20px;
        
    // border-top: 8px solid;
    // border-image-slice: 1;    
    // border-image-source: var(--accent-1);

    .footer {
        font-size: 22px;
        color: white;
        background-color: #1a1a1a; 
        display: grid; 
        place-content: center; 
        margin: 40px 20px;        
        
        .mountains { 
            font-family: 'Montserrat', sans-serif;     
            text-transform: uppercase; 
            
            font-size: 1.5em;    
            letter-spacing: 6px;    
        }
        .andcode {    
            font-family:'Inter', sans-serif; 
            opacity: 0.5; 
            text-transform: uppercase; 
            text-align: center; 
            font-size: 0.6em; 
            letter-spacing: 6px;     
        }

        a {
            position: relative;
            padding: 20px;
            cursor: pointer;
            border: 1px solid rgb(56, 56, 56);
            transition: background-color 0.3s;            
        }
        a:hover {
            border: 1px solid rgb(200,200,200);
            background-color: rgba(88, 88, 88, 0.2);
        }
    }

    .other-links {
        position:relative;
        border-bottom: 1px dashed rgb(56, 56, 56);        
        // border-bottom: 1px solid rgb(86, 86, 86);        
        padding-top: 40px;
        padding-bottom: 40px;
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        h3 { margin-top: 10px; }
        a {            
            position:relative;
            // border: 1px solid var(--accent-1);
            border-right-width: 30px;
            // border-top-width: 6px;
            // border-right-width: 6px;
            margin: 0px 20px;
            padding: 10px 20px;       
            padding-right: 30px;   
            line-height: 1.4em;  

            text-decoration: underline;
            text-decoration-style: dotted;             
            text-underline-offset: 5px;
            text-decoration-color: var(--accent-1);

            transition: border-width 0.5s, background-color 0.5s, color 0.5s, font-size 0.5s, padding 0.5s;

            &::after {
                content: '';
                background: url('~/../../img/external-link.svg') no-repeat;
                background-position: 50%;
                position: absolute;   
                width: 30px;
                height: 30px;  
                // padding-left: 20px;           
                right: -30px;
                top: 5%;
                // border: 1px solid red;                
            }
        }
        a:hover {
            // border-color: white;
            // border-width: 8px;
            border: 1px solid var(--accent-1);
            padding-right: 10px;
            border-right-width:40px;
            // font-size: 0.95em;
            background-color: var(--accent-1);
            color: black;               
        }   
    }
}


    
    
