
.control-grid {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    width: 300px;    
    max-width: 300px;
    margin: 5px 0px;
    gap: 6px;
    font-size: 0.8em;
}

.control-box {
    border: 2px solid #444;
    width: 20px;
    width: 100%;
    height: 20px;    
    cursor: pointer;
}

.control-box.selected {
    background: rgba(0,0,0,0.5);    
}

/* Light Theme */
.control-box.light {
    border: 2px solid white;
}
.control-box.selected.light {
    background: rgba(255,255,255, 0.5);    
}

.control-box.round {
    border-radius: 20px;
}


/* Line theme */
.control-box.line {
    width: 40px;
    height: 6px;
    border: none;
    background-color: rgb(164, 164, 164);    
}
.control-box.line.selected { 
    background: var(--accent-1);
}



/* OVERRIDES */
.control-grid {
    justify-content: space-around;
    gap: 0px;
    margin: 6px auto;

}

.control-box.line {
    width: 100%;
    height: 3px;
    transition: height 0.5s;
}

.control-box.line.selected {
    background: var(--primary-background);
    height: 6px;        
}